<% content_for :title do %>Electrical Dashboard<% end %>
<div class="gridster">
  <ul>

<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_hour" data-view="Meter" data-title="Generation This Hour" data-moreinfo="In Watt Hours" data-min="0" data-max="4600"></div>
    </li>
-->
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="generation"
           data-id="hourly_gen_today" data-view="Rickshawgraph"
           data-stroke="true"
           data-moreinfo="Watt Hours"
           data-unstack="true" data-legend="true"
           data-renderer="bar" data-title="Hourly Generation" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">

      <div class="generation"
           data-id="daily_gen" data-view="Rickshawgraph"
           class="generation"
           data-renderer="bar" data-title="Daily Generation" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="generation"
           data-id="monthly_gen_year" data-view="Rickshawgraph"
           data-unstack="true" data-legend="true" data-max="620000"
           data-moreinfo="Watt Hours"
           data-renderer="bar" data-title="Monthly Generation" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="generation"
           data-id="yearly_gen_ytd" data-view="Rickshawgraph"
           data-renderer="bar" data-title="Generation YTD" ></div>
    </li>




<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_mtd" data-view="Meter" data-title="Generation MTD" data-moreinfo="In Watt hours" data-min="0" data-max="600000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_ytd" data-view="Meter" data-title="Generation YTD" data-moreinfo="In Watt hours" data-min="0" data-max="6000000"></div>
    </li>
-->


  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hourly_use_today" data-view="Rickshawgraph"
           data-moreinfo="Watt Hours"
           data-renderer="bar" data-title="Hourly Usage" ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="daily_use" data-view="Rickshawgraph"
           data-renderer="bar" data-title="Daily Usage" ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="monthly_use_year" data-view="Rickshawgraph"
           data-unstack="true" data-legend="true" data-max="620000"
           data-moreinfo="Watt Hours"
           data-renderer="bar" data-title="Monthly Usage" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="yearly_use_ytd" data-view="Rickshawgraph"
           data-renderer="bar" data-title="Usage YTD" ></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div class="generation"
           data-id="peak_gen_by_day" data-view="Text"
           data-title="Top 5 Generation days"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="peak_use_by_day" data-view="Text"
           data-title="Top 5 Usage days"></div>
    </li>



  </ul>
</div>
