<% content_for :title do %>Electrical Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_hour" data-view="Meter" data-title="Generation This Hour" data-moreinfo="In Watt Hours" data-min="0" data-max="4600"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_today" data-view="Meter" data-title="Generation Today" data-moreinfo="In Watt Hours" data-min="0" data-max="30000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_mtd" data-view="Meter" data-title="Generation MTD" data-moreinfo="In Watt hours" data-min="0" data-max="600000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gen_ytd" data-view="Meter" data-title="Generation YTD" data-moreinfo="In Watt hours" data-min="0" data-max="6000000"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hourly_gen_today" data-view="Rickshawgraph"
           data-stroke="true"
           data-renderer="bar" data-title="Hourly Generation" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="peak_gen_by_day" data-view="Text"
           data-title="Top 5 Generation days"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="monthly_gen_year" data-view="Rickshawgraph"
           data-stroke="true"
           data-renderer="bar" data-title="Monthly Generation" ></div>
    </li>

  </ul>
</div>
